<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.2.xsd">

	<http security="none" pattern="/resources/**"/>
    <!-- enable use-expressions -->
	<http auto-config="true">
		<intercept-url pattern="/authen/**" access="permitAll"/>
		<intercept-url pattern="/member/**" access="hasRole('MEMBER')"/>
		<intercept-url pattern="/admin/**" access="hasRole('ADMIN')"/>
		<intercept-url pattern="/**" access="permitAll"/>
		
		<!-- access denied page -->
		<access-denied-handler error-page="/authen/403" />
		<!-- if user doesn't logged -->
		<form-login 
		    login-page="/authen/login" 
		    default-target-url="/authen/login-success" 
			authentication-failure-url="/authen/login?error" 
			username-parameter="USER_NAME"
			password-parameter="PASSWORD" />
		<logout logout-success-url="/authen/login?logout"  />
		<!-- enable csrf protection -->
		<csrf disabled="true"/>
	</http>
	<global-method-security pre-post-annotations="enabled" />
	<!-- Select users and user_roles from database -->
	<authentication-manager>
		 <authentication-provider user-service-ref="secUserDetailsService">
	     </authentication-provider>
<!-- 		<tication-provider> -->
<!-- 			<jdbc-user-service data-source-ref="dataSource" -->
<!-- 				users-by-username-query= -->
<!-- 					"select USER_NAME,PASSWORD, ENABLED from SYS_USER where USER_NAME =?" -->
<!-- 				authorities-by-username-query= -->
<!-- 					"select USER_NAME, ROLE from SYS_USER_ROLE where USER_NAME =?  " /> -->
<!-- 		</tication-provider> -->
	</authentication-manager>
	
</beans:beans>