@CHARSET "UTF-8";
*, *:before, *:after {
	box-sizing: border-box;
}

.news-container .row {
	/* column width */
	-moz-column-width: 19em;
	-webkit-column-width: 19em;
	/* space between columns */
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
}

.news-container .item {
	display: inline-block;
	width: 100%;
	height: 300px;
}

.news-container img {
	max-height: 150px;
}

.table caption{
	    text-align: left;
    font-weight: bold;
    font-size: larger;
}

.message_error{
	color: red;
}
.input_error{
	border:1px solid red!important;
}

.bootstrap-select .btn-default{
	background-color: #fff!important;
	color:#555!important;
}